body {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

.btn-b {
    width: 12.5rem;
    height: 3.125rem;
    border: none;
    border-radius: 3.125rem;
    text-transform: uppercase;
    outline: none;
    color: white;
    background: blue;
    margin-top: 2.25rem;
    margin-bottom: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-b:hover {
    animation-name: changecolor;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.btn-w {
    width: 12.5rem;
    height: 3.125rem;
    border: 1px solid gray;
    border-radius: 3.125rem;
    text-transform: uppercase;
    outline: none;
    background: white;
    margin-top: 2.25rem;
    margin-bottom: 6.25rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.btn-w:hover {
    animation-name: changecolor;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

@keyframes changecolor {
    to {background-color: rgb(26, 26, 143);}
    to {color: white;}
    to {border: none;}
}

.span-g {
    background: rgb(26, 26, 143);
    color: white
}

.span-c {
    color: rgb(26, 26, 143);
    font-size: 1.8rem;
}