#wrap {
    width: 600px;
    height: 700px;
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 100px;
    color: white;
    z-index: 0;
}

input[type=text] {
  color: white;
}

input[type="password"] {
  color: white;
}

.btn-in {
  width: 100px;
  height: 100px;
  background: rgb(134, 134, 134);
  border: 0;
  border-radius: 100%;
  position: absolute;
  top: -50px; left: 100px;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  z-index: 2;
}

.btn-up {
  width: 100px;
  height: 100px;
  background: rgb(233, 139, 139);
  border: 0;
  border-radius: 100%;
  position: absolute;
  top: -50px; left: 100px;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  text-transform: capitalize;
  z-index: 1;
}


.container {
    width: 100%;
    margin-top: 100px;
}

.s-in {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: rgb(80, 66, 54);
    position: absolute;
    top: 0; left: 0;
}


h1 {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.s-up {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background: rgb(61, 61, 61);
    position: absolute;
    top: 0; left: 0;
    display: none;
}


.group { 
    width: 50%;
    position: relative; 
    margin-bottom:45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    background: transparent;
}
input:focus {
        outline:none; 
    }

label {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:rgb(94, 114, 196);
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width: 300px; }
.bar:before 	{
  content:'';
  height:2px; 
  width:0;
  bottom:0; 
  left: 0;
  position:absolute;
  background:rgb(94, 114, 196); 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  right:100%;
}

/* active state */
input:focus ~ .bar:before {
  width: 100%;
}

.confirm {
    width: 150px;
    height: 50px;
    background: white;
    border: 0;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
}