.terms-wrap {
    width: 100%;
    width: auto;
    background: rgb(230, 230, 230);
    display: grid;
    display: -webkit-grid;
    display: -moz-grid;
    display: -ms-grid; 
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.terms {
    width: 90%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.terms h4 {
    padding-left: 20px;
    padding-right: 20px;
}

.terms p {
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}


