.center {
    text-align: center;
}

.left {
    margin-left: 0;
}

.bg-dark {
    background: rgb(25, 6, 61);
}

.bg-black {
    background: black;
}

.blue {
    color: rgb(17, 17, 128);
}

.bg-blue {
    background: rgb(8, 8, 43);
}

.white {
    color: white;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}